<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.software.live_wallpaper" android:required="false" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <queries>
        <package android:name="fr.piika.pupupdate" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
        </intent>
    </queries>

    <application
        android:name=".PupApp"
        android:requestLegacyExternalStorage="true"
        android:label="PuppyPhone"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:largeHeap="true"
        android:theme="@style/PupTheme">

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:resumeWhilePausing="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PinShortcutActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/PupInvisible">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PupSonActivity"
            android:label="PupSon"
            android:icon="@mipmap/ic_pupson"
            android:roundIcon="@mipmap/ic_pupson"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="fr.piika.puppyphone.son"
            android:theme="@style/PupInvisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BrowserActivity"
            android:label="PuppyInternet"
            android:icon="@mipmap/ic_pupnet"
            android:roundIcon="@mipmap/ic_pupnet"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.net"
            android:theme="@style/PupNetTheme"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GalleryActivity"
            android:label="PupGalery"
            android:icon="@mipmap/ic_pupgal"
            android:roundIcon="@mipmap/ic_pupgal"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.gal"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_GALLERY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VideoActivity"
            android:label="PupVidéo"
            android:icon="@mipmap/ic_pupvid"
            android:roundIcon="@mipmap/ic_pupvid"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.vid"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PickActivity"
            android:label="PupGalery"
            android:icon="@mipmap/ic_pupgal"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CameraActivity"
            android:label="PupCamera"
            android:icon="@mipmap/ic_pupcam"
            android:roundIcon="@mipmap/ic_pupcam"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.cam"
            android:screenOrientation="portrait"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CaptureActivity"
            android:label="PupCamera"
            android:icon="@mipmap/ic_pupcam"
            android:exported="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SmsActivity"
            android:label="PupSMS"
            android:icon="@mipmap/ic_pupsms"
            android:roundIcon="@mipmap/ic_pupsms"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.sms"
            android:theme="@style/PupNetTheme"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MESSAGING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <receiver android:name=".SmsReceiver" android:exported="true" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".MmsReceiver" android:exported="true" android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <receiver android:name=".SmsResultReceiver" android:exported="false" />

        <service
            android:name=".HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <provider
            android:name=".MmsFileProvider"
            android:authorities="fr.piika.puppyphone.mmsfiles"
            android:exported="true"
            android:grantUriPermissions="true" />

        <service
            android:name=".PupWallService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".PupSonTile"
            android:label="PupSon"
            android:icon="@drawable/ic_paw"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".DialerActivity"
            android:label="PupPhone"
            android:icon="@mipmap/ic_pupphone"
            android:roundIcon="@mipmap/ic_pupphone"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.phone"
            android:theme="@style/PupNetTheme"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL_BUTTON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CallActivity"
            android:label="PupPhone"
            android:icon="@mipmap/ic_pupphone"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:taskAffinity="fr.piika.puppyphone.call"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/PupNetTheme"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density" />

        <service
            android:name=".PupInCallService"
            android:exported="true"
            android:permission="android.permission.BIND_INCOMING_CALL_SERVICE">
            <meta-data android:name="android.telecom.IN_CALL_SERVICE_UI" android:value="true" />
            <meta-data android:name="android.telecom.IN_CALL_SERVICE_RINGING" android:value="false" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <receiver android:name=".CallActionReceiver" android:exported="false" />

        <receiver android:name=".MissedCallReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.action.SHOW_MISSED_CALLS_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MusicActivity"
            android:label="PupMusic"
            android:icon="@mipmap/ic_pupmusic"
            android:roundIcon="@mipmap/ic_pupmusic"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.music"
            android:theme="@style/PupNetTheme"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-flac" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".FileActivity"
            android:label="PupFile"
            android:icon="@mipmap/ic_pupfile"
            android:roundIcon="@mipmap/ic_pupfile"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.file"
            android:theme="@style/PupNetTheme"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".PupFileProvider"
            android:authorities="fr.piika.puppyphone.files"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name=".TasksActivity"
            android:label="PupTasks"
            android:icon="@mipmap/ic_puptasks"
            android:roundIcon="@mipmap/ic_puptasks"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.tasks"
            android:excludeFromRecents="true"
            android:theme="@style/PupNetTheme"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".PupNavA11y"
            android:label="PupNav"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/pupnav_a11y" />
        </service>

        <service
            android:name=".PupOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Barre de navigation flottante dessinée par-dessus les applis" />
        </service>

        <service
            android:name=".PupTasksTile"
            android:label="PupTasks"
            android:icon="@drawable/ic_paw"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".PupKeyboard"
            android:process=":kbd"
            android:label="PupKeyboard"
            android:icon="@mipmap/ic_pupkeyboard"
            android:exported="true"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/pupkbd_method" />
        </service>

        <activity
            android:name=".KbSettingsActivity"
            android:label="PupKeyboard"
            android:icon="@mipmap/ic_pupkeyboard"
            android:roundIcon="@mipmap/ic_pupkeyboard"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.kbd"
            android:theme="@style/PupNetTheme"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UpdateActivity"
            android:label="PupUpdate"
            android:icon="@mipmap/ic_pupupdate"
            android:roundIcon="@mipmap/ic_pupupdate"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.update"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".UpdateReceiver" android:exported="false" />

        <activity
            android:name=".NicheActivity"
            android:label="Ta niche"
            android:icon="@mipmap/ic_pupniche"
            android:roundIcon="@mipmap/ic_pupniche"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.niche"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PhoenixActivity"
            android:process=":phoenix"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/PupInvisible" />

        <activity
            android:name=".ReveilActivity"
            android:label="PupRéveil"
            android:icon="@mipmap/ic_pupreveil"
            android:roundIcon="@mipmap/ic_pupreveil"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity="fr.piika.puppyphone.reveil"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReveilRingActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleInstance"
            android:taskAffinity="fr.piika.puppyphone.ring"
            android:hardwareAccelerated="true"
            android:theme="@style/PupVeilleTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density" />

        <receiver android:name=".ReveilReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ReveilService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".VeilleActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleInstance"
            android:taskAffinity="fr.piika.puppyphone.veille"
            android:noHistory="true"
            android:hardwareAccelerated="true"
            android:theme="@style/PupVeilleTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density" />

        <activity
            android:name=".SiesteActivity"
            android:label="@string/dream_name"
            android:exported="false"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:theme="@style/PupNetTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|smallestScreenSize|uiMode|density" />

        <service
            android:name=".PupLiveWallpaper"
            android:label="@string/wall_name"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/pup_wallpaper" />
        </service>


        <service
            android:name=".PupWallCosmos"
            android:label="@string/wall_cosmos"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/pup_wall_cosmos" />
        </service>

        <service
            android:name=".PupWallAurore"
            android:label="@string/wall_aurore"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/pup_wall_aurore" />
        </service>

        <service
            android:name=".PupWallNiche"
            android:label="@string/wall_niche"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/pup_wall_niche" />
        </service>

        <service
            android:name=".PupDream"
            android:label="@string/dream_name"
            android:exported="true"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
